<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="vendor/autoload.php"
    testdox="true"
    colors="true"
>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_HOST" value="db_test" force="true"/>
        <env name="DB_PORT" value="3306" force="true"/>
        <env name="DB_DATABASE" value="db_test" force="true"/>
        <env name="DB_USER" value="testing" force="true"/>
        <env name="DB_PASSWORD" value="password" force="true"/>
    </php>
</phpunit>